{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Order issuer</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Rubik:wght@300&display=swap" rel="stylesheet">
    <base href="/" >
    <!-- Webpack rendered CSS -->
    {% render_bundle 'main' 'css' %}
</head>
<body style="background: #0433ff;margin:0px">
    <div id="react-app"></div>
    <!-- Webpack rendered JS -->
    {% render_bundle 'main' 'js' %}
</body>
</html>